<!DOCTYPE html>
<html ng-app="root">

<head>
    <title>San Jose City Community</title>
    <meta content="img/logo.jpeg" itemprop="image">
    <link href="img/logo.jpeg" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="/node_modules/angular-local-storage/src/angular-local-storage.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-init="fetchSession()" ng-controller="index">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/index.html">
                <img ng-src="/img/img9.jpeg" width="300px" height="100px" alt="San Jose Parks, Recreation and Neighborhood services">
            </a>
            <md-content style="background-color: rgba(250,250,250,0) !important;" layout-xs="column" layout="row">
                <form id="searchform">
                    <md-input-container style="background-color: rgba(250,250,250,0) !important;">
                        <label>Search Events</label>
                        <input ng-model="searchTerm">
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="searchEvent(searchTerm)" ng-disabled="searchTerm == undefined || searchTerm.length <= 0">Search</md-button>
                </form>
            </md-content>
            <div>
                <md-button class="md-primary md-raised float-right" ng-if="sessionUser == undefined" ng-click="showLogin($event)">
                    Login
                </md-button>
                <md-button class="md-primary md-raised" ng-if="sessionUser == undefined" ng-click="showSignUp($event)">
                    Sign Up
                </md-button>
                <label ng-if="sessionUser != undefined">Welcome,
                    <span>{{sessionUser.FirstName}}</span>!</label>
                <md-button class="md-primary md-raised" ng-if="sessionUser != undefined" ng-click="logout()">
                    Logout
                </md-button>
            </div>
        </div>
    </nav>

    <!-- <md-button class="md-raised md-primary" ng-click="getLocation()">Get Location</md-button>
    <label hidden="true">Location is: </label>
    <span>{{position}}</span> -->

    <md-content layout-xs="column" layout="row">
        <md-input-container>
            <label>Communities</label>
            <md-select ng-model="selectedCommunity" ng-change="communitySelected(selectedCommunity)">
                <md-option ng-repeat="comm in communities" ng-selected="comm==communities[0] ? true : false" ng-value="comm.CommCenterName">
                    {{comm.CommCenterName}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-primary" ng-click="filter()">Filter
        </md-button>
        <md-switch ng-if="sessionUser != undefined" ng-model="recToggle" aria-label="Recommended Events" ng-change="showReceommendedEvents(recToggle)">
            Recommended Events
        </md-switch>
        <md-button ng-if="sessionUser != undefined" ng-click="showRegisteredEvents()" class="md-primary">Registered Event
        </md-button>
    </md-content>
   

    <div ng-if="communityEvents && communityEvents.length>0">
        <md-content class="md-padding" layout-xs="column" layout-sm="column" layout-wrap layout="row">
            <div flex="25" flex-xs="90" flex-sm="60" ng-repeat="event in communityEvents">
                <md-card>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-src="img/img5.jpeg" class="md-card-image">
                        </div>
                    </md-card-title-media>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{event.EventName}}</span>
                            <span class="md-text">{{event.EventDateTimeStart}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="registerEvent(event)">Register</md-button>
                        <md-button class="md-raised md-primary" ng-click="showDetails(event)">View Details</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </div>
    <div ng-if="communityEvents == undefined || communityEvents.length<=0">
        <md-content class="md-padding" layout-xs="column" layout="row">
            <font size='10'>No Events Found!</font>
        </md-content>
    </div>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-lists">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <ul>
                            <li>
                                <h4>Proin accumsan</h4>
                            </li>
                            <li>
                                <a href="#">Rutrum nulla a ultrices</a>
                            </li>
                            <li>
                                <a href="#">Blandit elementum</a>
                            </li>
                            <li>
                                <a href="#">Proin placerat accumsan</a>
                            </li>
                            <li>
                                <a href="#">Morbi hendrerit libero </a>
                            </li>
                            <li>
                                <a href="#">Curabitur sit amet tellus</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <ul>
                            <li>
                                <h4>Condimentum</h4>
                            </li>
                            <li>
                                <a href="#">Curabitur sit amet tellus</a>
                            </li>
                            <li>
                                <a href="#">Morbi hendrerit libero </a>
                            </li>
                            <li>
                                <a href="#">Proin placerat accumsan</a>
                            </li>
                            <li>
                                <a href="#">Rutrum nulla a ultrices</a>
                            </li>
                            <li>
                                <a href="#">Cras dictum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <ul>
                            <li>
                                <h4>Suspendisse</h4>
                            </li>
                            <li>
                                <a href="#">Morbi hendrerit libero </a>
                            </li>
                            <li>
                                <a href="#">Proin placerat accumsan</a>
                            </li>
                            <li>
                                <a href="#">Rutrum nulla a ultrices</a>
                            </li>
                            <li>
                                <a href="#">Curabitur sit amet tellus</a>
                            </li>
                            <li>
                                <a href="#">Donec in ligula nisl.</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h4>Suspendisse</h4>
                        <p>Integer mattis blandit turpis, quis rutrum est. Maecenas quis arcu vel felis lobortis iaculis fringilla
                            at ligula. Nunc dignissim porttitor dolor eget porta.</p>

                        <p class="social-icons">
                            <a href="#">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube fa-2x"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram fa-2x"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>



    <!-- Bootcamp JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>

</html>