<!DOCTYPE html>
<html ng-app="root">

<head>
    <title>San Jose City Community</title>
    <meta content="img/logo.jpeg" itemprop="image">
    <link href="img/logo.jpeg" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="/node_modules/angular-local-storage/src/angular-local-storage.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/registerEvent.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-init="fetchSession()" ng-controller="index">
<center>
    <h1>Sign Up</h1>
</center>

<div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
    <md-content layout-padding="">
        <div>
            <form name="userForm" method="POST" action="/signup">

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>First name</label>
                    <input ng-model="user.firstName" name="firstname">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Last Name</label>
                    <input ng-model="user.lastName" name="lastname">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Address1</label>
                    <input ng-model="user.address1" type="address1" name="address1">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Address2</label>
                    <input ng-model="user.address2" type="address2" name="address2">
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <input ng-model="user.city" type="city" name="city">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <md-select ng-model="user.state">
                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="zip" ng-model="user.zip" placeholder="12345"
                               required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                code.
                            </div>
                            <div ng-message="md-maxlength" class="my-message">
                                Don't use the long version silly...we don't need to be that specific...
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Gender</label>
                    <input ng-model="user.gender" name="gender">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Email Address (User ID)</label>
                    <input ng-model="user.email" type="email" name="email">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Home Phone</label>
                    <input name="homephone" ng-model="user.homephone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                    <div class="hint" ng-show="showHints">(###) ###-####</div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Cell Phone</label>
                    <input name="mobile" ng-model="user.mobile" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                    <div class="hint" ng-show="showHints">(###) ###-####</div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Date of Birth</label>
                    <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>I agree to receive text messages</label>
                    <md-select ng-model="user.isTextMsg">
                        <md-option ng-repeat="msg in isTextMsg" value="{{msg.abbrev}}">
                            {{msg.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Carrier</label>
                    <input ng-model="user.carrier" type="carrier" name="carrier">
                </md-input-container>

                <h2 class="md-title">Emergenct Contact Information</h2>

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>First name</label>
                    <input ng-model="user.firstName" name="firstname">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Last Name</label>
                    <input ng-model="user.lastName" name="lastname">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Relashionship</label>
                    <input ng-model="user.relashionship" name="relashionship">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Home Phone</label>
                    <input name="homephone" ng-model="user.homephone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                    <div class="hint" ng-show="showHints">(###) ###-####</div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Cell Phone</label>
                    <input name="mobile" ng-model="user.mobile" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                    <div class="hint" ng-show="showHints">(###) ###-####</div>
                </md-input-container>

                <h2 class="md-title">Participants</h2>

                <div layout-gt-sm="row" class="p-t-12">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="firstName" name="firstname">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Last Name</label>
                        <input ng-model="lastName" name="lastname">
                    </md-input-container>

                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block">
                        <label>Age</label>
                        <input ng-model="age" name="age">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Gender</label>
                        <input ng-model="gender" name="gender">
                    </md-input-container>

                    <md-input-container>
                        <label>Date of Birth</label>
                        <md-datepicker ng-model="dob"></md-datepicker>
                    </md-input-container>
                    <md-input-container>
                        <md-button class="md-raised md-primary" ng-click="addRow()">Add Row</md-button>
                    </md-input-container>

                </div>

                <table>
                    <tr>
                        <th style="background-color: #1987DD;border-left: solid 0px; border-right: solid 0px; border-top: solid 0px;border-bottom:solid 0px;">Participant First name</th>
                        <th style="background-color: #1987DD; border-left: solid 0px; border-right: solid 0px; border-top: solid 0px;border-bottom:solid 0px">Last Name</th>
                        <th style="background-color: #1987DD; border-left: solid 0px; border-right: solid 0px; border-top: solid 0px;border-bottom:solid 0px">Age</th>
                        <th style="background-color: #1987DD; border-left: solid 0px; border-right: solid 0px; border-top: solid 0px;border-bottom:solid 0px">Gender</th>
                        <th style="background-color: #1987DD; border-left: solid 0px; border-right: solid 0px; border-top: solid 0px;border-bottom:solid 0px">Date of Birth</th>
                    </tr>

                    <tr ng-repeat="participant in participantArray">
                        <td><label>#{{$index + 1}} {{participant.firstName}}</label></td>
                        <td><label>{{participant.lastName}}</label></td>
                        <td><label>{{participant.age}}</label></td>
                        <td><label>{{participant.gender}}</label></td>
                        <td><label>{{participant.dob}}</label></td>
                        <td><input type="checkbox" ng-model="participant.Remove"/></td>
                    </tr>
                </table>
                <div>
                    <md-button class="md-raised md-primary" ng-click="removeRow()">Remove Row</md-button>
                </div>

                <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center" >
                    <md-button class="md-raised" ng-click="">
                        Cancel
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-click="registerEvent()">Submit</md-button>
                </div>
            </form>
        </div>
    </md-content>

</div>
</body>

</html>