
.eventDetailsPic{
  width:70%;
  height:25%;
  float:left;
}
.eventDetailsContainer {
  padding-left:5%;
  padding-right:5%;
}
.eventDetailsContainer img {
  max-height:100%;
  max-width: 50%;
}
.eventDetailsItem {
  margin: 2%;
  font-weight: bold;
}

@media (max-width: 992px) {
  .eventDetailsPic{
    width:100%;
    height:100%;
    float:none;
  }
  .eventDetailsContainer img{
    max-height:100%;
    max-width: 100%;
  }
}