/*
Copyright 2018 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

.aligncenter{
    align: center
    
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  
  .m-l-5 {margin-left: 5px;}
  .p-t-12 {padding-top: 12px;}
  .p-t-50 {padding-top: 50px;}